.aboutUs {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.aboutUs h1 {
  width: 50%;
}
.aboutUs p {
  width: 40%;
  margin: 50px 0;
}
.contact {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
