.hero {
  width: 100%;
  background: url("/bg_img.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.hero svg {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: white;
  font-size: 30px;
  animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -50px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.overlayer {
  width: 100%;
  padding: 130px 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    #f6f6f6 83.68%
  );
  display: flex;
}

.mainContent {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.mainContent p {
  width: 80%;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 25px;
}
.mainContent h5 {
  font-weight: normal;
}
.mainContent a {
  width: max-content;
}

@media only screen and (max-width: 700px) {
  .overlayer {
    padding: 100px 0px;
  }
  .logo {
    display: none;
  }

  .mainContent {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .mainContent h4 {
    margin: 25px auto;
  }
  .mainContent a {
    margin: 0 auto;
  }
}

.divider {
  width: 80%;
  margin: 150px auto 50px auto;
  border-bottom: 2px solid black;
}
.description {
  width: 80%;
  margin: 50px auto;
}

/* =============================================== */

.subContentContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 70px auto;
}

.subContent {
  width: 55%;
  padding-top: 10px;
}
.subContent h3,
.aboutUs h3 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1050px) {
  .subContentContainer {
    justify-content: center;
    align-items: center;
  }
  .subContent {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
  }
  .description {
    text-align: center;
  }
}
/* =============================================== */

.mainContainer {
  width: 100%;
  margin: 20px auto 0 auto;
  padding-bottom: 20px;
}

.title {
  width: max-content;
  margin: 40px auto;
  padding: 10px;
  border-bottom: 2px solid black;
}

.cardContainer {
  width: 70%;
  display: flex;
  margin: 150px auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 280px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}
.card:hover,
.card:focus {
  box-shadow: 0px 4px 8px rgba(102, 102, 102, 0.5);
}
@media only screen and (max-width: 760px) {
  .cardContainer {
    justify-content: center;
  }
}

.cardImg {
  width: 100%;
  height: 150px;
  background: url("/america_flag_card.png") center center;
  background-size: contain;
}

.cardContent {
  width: 100%;
  padding: 20px;
  min-width: 175px;
  text-align: center;
}

.cardContent p {
  margin: 15px 0;
}

.cardContent button {
  font-size: 1rem;
  padding: 10px 15px;
}

.cardOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 33, 61, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media only screen and (max-width: 410px) {
  .cardContainer {
    width: 70%;
    margin: 0 auto;
  }
}

.aboutUs {
  width: 50%;
  margin: 60px auto 260px auto;
  text-align: center;
}
